*{margin:0;padding:0;}
#bg{
	position:absolute;
	width: 1280px;
	height: 720px;
	background: url('../image/bg.jpg');
}


#lineFoc{
	position:absolute;
}
.title{
	position:absolute;
	width:915px;
	height:85px;
	border:0px;
	left: 310px;
}
.titleFoc{
	position:absolute;
	width:915px;
	height:85px;
	border:0px;
	left: 310px;
	background: url('../image/focus.jpg');
}
#title0{
    top: 140px;
}
#title1{
    top: 220px;
}
#title2{
	top:300px;
}
#title3{
    top:380px;
}
#title4{
    top: 460px;
}
#title5{
    top: 540px;
}
.lineFoc00{
	left: 48px;
	top: 134px;
	width:252px;
	height:70px;
	border:0px;
	background: url('../image/tab_01.png');
}
.lineFoc01{
	left: 48px;
	top: 192px;
	width:252px;
	height:70px;
	border:0px;
	background: url('../image/tab_02.png');
}
.lineFoc10{
	left: 310px;
    top: 140px;
	width:915px;
	height:85px;
	border:0px;
	background: url('../image/focus.png');
}
.lineFoc11{
	left: 310px;
    top: 220px;
	width:915px;
	height:85px;
	border:0px;
	background: url('../image/focus.png');
}
.lineFoc12{
	left: 310px;
	top:300px;
	width:915px;
	height:85px;
	border:0px;
	background: url('../image/focus.png');
}
.lineFoc13{
	left: 310px;
    top:380px;
    width:915px;
	height:85px;
	border:0px;
	background: url('../image/focus.png');
}
.lineFoc14{
	left: 310px;
    top:460px;
    width:915px;
	height:85px;
	border:0px;
	background: url('../image/focus.png');
}
.lineFoc15{
	left: 310px;
    top:540px;
    width:915px;
	height:85px;
	border:0px;
	background: url('../image/focus.png');
}
.lineFoc16{
	left: 310px;
    top:600px;
    width:915px;
	height:85px;
	border:0px;
	background: url('../image/focus.png');
}

