*{margin:0;padding:0;}
#bg{
	position:absolute;
	width: 1280px;
	height: 720px;
	background: url('../image/bg_img.jpg');
}
#content0
{
    background: url('../image/jam.png');
    position: absolute;
    width: 828px;
    height: 497px;
    
}
.font
{
    position: absolute;  
    font-size:24px;
    font-family:"Microsoft YaHei";
    color:#000000;
}
#roadName{
    width: 262px;
    height: 36px;
    top: 72px;
    left: 158px;
}
#gmtCreate{
    width: 590px;
    height: 39px;
    top: 109px;
    left: 207px;
}
#createDate{
    width: 590px;
    height: 39px;
    top: 147px;
    left: 207px;
}
#description{
    width: 638px;
    height: 39px;
    top: 186px;
    left: 159px;
}
#locs{
    width: 233px;
    height: 40px;
    top: 70px;
    left: 578px;
}

#jam_roadName{
    width: 265px;
    height: 40px;
    top: 325px;
    left: 158px;
}
#pubRunStatus{
    width: 233px;
    height: 40px;
    top: 325px;
    left: 578px;
}
#longTime{
    width: 590px;
    height: 40px;
    top: 364px;
    left: 158px;
}
#jam_createDate{
    width: 590px;
    height: 40px;
    top: 402px;
    left: 207px;
}
#ostartAddr{
    width: 590px;
    height: 40px;
    top: 439px;
    left: 207px;
}

#title
{
    position: absolute;    
    width: 344px;
    height: 88px;
    top:60px;
    left:126px;
    font-size:36px;
    font-family:"Microsoft YaHei";
    font-weight:bold;
    color:#FFFFFF;
}



#content{
    position: absolute;
    width: 828px;
    height: 497px;
    left: 417px;
    top: 137px;
}
.line00 {
    position: absolute;
    width: 120px;
    height: 40px;
    top: 60px;
    left: 1070px;
    background: url(../image/back.png);
}
.line10{
    position:absolute;
    width:132px;
    height:70px;
    top: 128px;
    left: 51px;
}
.line10Selected{
    position:absolute;
    width:132px;
    height:70px;
    top: 133px;
    left: 49px;
    background: url('../image/icon_01.png');
}
.line11{
    position:absolute;
    width:132px;
    height:70px;
    top: 196px;
    left: 51px;
}
.line11Selected{
    position:absolute;
    width:132px;
    height:70px;
    top: 192px;
    left: 49px;
    background: url('../image/icon_02.png');
}
.line12{
    position:absolute;
    width:132px;
    height:70px;
    top: 258px;
    left: 51px;
}
.line12Selected{
    position:absolute;
    width:132px;
    height:70px;
    top: 249px;
    left: 49px;
    background: url('../image/icon_03.png');
}
.line13{
    position:absolute;
    width:132px;
    height:70px;
    top: 317px;
    left: 51px;
}
.line13Selected{
    position:absolute;
    width:132px;
    height:70px;
    top: 308px;
    left: 49px;
    background: url('../image/icon_04.png');
}
.line14{
    position:absolute;
    width:132px;
    height:70px;
    top: 375px;
    left: 51px;
}
.line14Selected{
    position:absolute;
    width:132px;
    height:70px;
    top: 367px;
    left: 49px;
    background: url('../image/icon_05.png');
}
.line15{
    position:absolute;
    width:132px;
    height:70px;
    top: 434px;
    left: 51px;
}
.line15Selected{
    position:absolute;
    width:132px;
    height:70px;
    top: 424px;
    left: 49px;
    background: url('../image/icon_06.png');
}
.line16{
    position:absolute;
    width:132px;
    height:70px;
    top: 481px;
    left: 51px;
}
.line16Selected{
    position:absolute;
    width:132px;
    height:70px;
    top: 483px;
    left:49px;
    background: url('../image/icon_07.png');
}
.line17{
    position:absolute;
    width:132px;
    height:70px;
    top: 536px;
    left: 51px;
}
.line17Selected{
    position:absolute;
    width:132px;
    height:70px;
    top: 541px;
    left: 49px;
    background: url('../image/icon_08.png');
}


.line20{
    position:absolute;
    width:190px;
    height:58px;
    left: 201px;
    top: 137px;
    background: url('../image/icon_21.png');
}
.line21{
    position:absolute;
    width:190px;
    height:58px;
    left: 201px;
    top: 205px;
    background: url('../image/icon_22.png');
}
.line22{
    position:absolute;
    width:190px;
    height:58px;
    left: 201px;
    top: 273px;
    background: url('../image/icon_23.png');
}
.line23{
    position:absolute;
    width:190px;
    height:58px;
    left: 201px;
    top: 341px;
    background: url('../image/icon_24.png');
}
.line20Selected{
    position:absolute;
    width:202px;
    height:70px;
    left: 197px;
    top: 133px;
    background: url('../image/icon_21_f.png');
}
.line21Selected{
    position:absolute;
    width:202px;
    height:70px;
    left: 197px;
    top: 201px;
    background: url('../image/icon_22_f.png');
}
.line22Selected{
    position:absolute;
    width:202px;
    height:70px;
    left: 197px;
    top: 269px;
    background: url('../image/icon_23_f.png');
}
.line23Selected{
    position:absolute;
    width:202px;
    height:70px;
    left: 197px;
    top: 337px;
    background: url('../image/icon_24_f.png');
}
#lineFoc{
	position:absolute;
}

.lineFoc00{
	left: 1068px;
    top: 57px;
	width:132px;
	height:52px;
	border:0px;
	background: url('../image/button_01.png');
}
.lineFoc01{
	left: 48px;
	top: 192px;
	width:252px;
	height:70px;
	border:0px;
	background: url('../image/tab_02.png');
}
.lineFoc10{
	left: 53px;
    top: 137px;
	width:120px;
	height:58px;
	border:0px;
	background: url('../image/jujiao.png');
}
.lineFoc11{
	left: 53px;
    top: 195px;
	width:120px;
	height:58px;
	border:0px;
	background: url('../image/jujiao.png');
}
.lineFoc12{
	left: 53px;
	top: 252px;
	width:120px;
	height:58px;
	border:0px;
	background: url('../image/jujiao.png');
}
.lineFoc13{
	left: 53px;
    top: 311px;
    width:120px;
	height:58px;
	border:0px;
	background: url('../image/jujiao.png');
}
.lineFoc14{
	left: 53px;
    top: 369px;
    width:120px;
	height:58px;
	border:0px;
	background: url('../image/jujiao.png');
}
.lineFoc15{
	left: 53px;
    top: 428px;
    width:120px;
	height:58px;
	border:0px;
	background: url('../image/jujiao.png');
}
.lineFoc16{
	left: 53px;
    top: 487px;
    width:120px;
	height:58px;
	border:0px;
	background: url('../image/jujiao.png');
}

.lineFoc17{
	left: 53px;
    top: 544px;
    width:120px;
	height:58px;
	border:0px;
	background: url('../image/jujiao.png');
}
.lineFoc20{
	top: 134px;
    left: 199px;
    width:194px;
	height:62px;
	border:0px;
	background: url('../image/1.png');
}
.lineFoc21{
	top: 202px;
    left: 199px;
    width:194px;
	height:62px;
	border:0px;
	background: url('../image/1.png');
}
.lineFoc22{
	top: 270px;
    left: 199px;
    width:194px;
	height:62px;
	border:0px;
	background: url('../image/1.png');
}
.lineFoc23{
	top: 338px;
    left: 199px;
    width:194px;
	height:62px;
	border:0px;
	background: url('../image/1.png');
}