*{margin:0;padding:0;}
#bg{
	position:absolute;
	width: 1280px;
	height: 720px;
	background: url('../image/bg_img.png');
}

.news{
	position: absolute;
    height:50px;
    width:600px;
	overflow:hidden;
	background: url(../image/bg_news.png);
}
.newsFoc{
	position: absolute;
    height:50px;
    width:600px;
	overflow:hidden;
	background: url(../image/focus_kuaixun.png);
}
#news0{
	left:50px;
	top:530px;
	font-size: 24px;
    line-height: 50px;
	color: white;
	font-family: "Microsoft YaHei";
}
#news1{
	left:50px;
	top:580px;
	font-size: 24px;
    line-height: 50px;
	color: white;
	font-family: "Microsoft YaHei";
}
#news2{
	left:50px;
	top:630px;
	font-size: 24px;
    line-height: 50px;
	color: white;
	font-family: "Microsoft YaHei";
}
#item0{
    position: absolute;
    height:201px;
    width:386px;
    left:677px;
    top:490px;
    background: url(../image/img_5.png);
}
#qrcode{
    position: absolute;
    height:201px;
    width:160px;
    left: 1092px;
    top:490px;
    background: url(../image/img_6.png);
}
.title{
	position: absolute;
	overflow:hidden;
	font-size:17px;
	width:300px;
	height: 19px;
}
.dateT{
	position: absolute;
    left: 316px;
    font-size: 16px;
    height: 19px;
}

#lineFoc{
	position:absolute;
}
#column0{
    position:absolute;
    left:677px;
	top:137px;
	width:275px;
    height:162px;
    background: url('../image/img_1.png');
}
#column1{
    position:absolute;
    left:977px;
	top:137px;
	width:275px;
    height:162px;
    background: url('../image/img_2.png');
}
#column2{
    position:absolute;
    left:677px;
	top:314px;
	width:275px;
    height:162px;
    background: url('../image/img_3.png');
}
#column3{
    position:absolute;
    left:977px;
	top:314px;
	width:275px;
    height:162px;
    background: url('../image/img_4.png');
}
.lineFoc00{
	left:35px;
	top:123px;
	width:632px;
	height:370px;
	
	border:0px;
	background: url('../image/focus_img_vido_jiaodian.png');
}
.lineFoc01{
	left: 47px;
    top: 487px;
	width:132px;
	height:52px;
	border:0px;
	background: url('../image/focus_kx.png');
}
.lineFoc10{
	left: 663px;
    top: 124px;
	width:307px;
	height:194px;
	border:0px;
	background: url('../image/focus_zjgsfwq.png');
}
.lineFoc11{
	left: 963px;
    top: 124px;
	width:307px;
	height:194px;
	border:0px;
	background: url('../image/focus_zjgsfwq.png');
}
.lineFoc12{
	left:663px;
	top:301px;
	width:307px;
	height:194px;
	border:0px;
	background: url('../image/focus_zjgsfwq.png');
}
.lineFoc13{
	left:963px;
    top:301px;
    width:307px;
	height:194px;
	border:0px;
	background: url('../image/focus_zjgsfwq.png');
}
.lineFoc20{
	left: 177px;
    top: 438px;
    width: 612px;
    height: 62px;
	border:0px;
	background: url('../image/focus_kuaixun.png');
}

.lineFoc21{
	left: 644px;
    top: 382px;
    width: 203px;
    height: 220px;
	border:4px solid #c93032;
	background: url('');
}
.lineFoc22{
	left: 851px;
    top: 382px;
    width: 203px;
    height: 220px;
	border:4px solid #c93032;
	background: url('');
}
.lineFoc30{
	left:663px;
	top: 476px;
    width: 418px;
    height: 233px;
	border:0px;
	background: url('../image/focus_5.png');
}
